{% extends 'base.html.twig' %}
{% block body %}
    <a href="/register">
        <button class="btn btn-lg btn-primary btn-block">ADD USER</button></a>
    <hr>
    <h1>Users list:</h1>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Mail</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <a href="/admin/users/delete/{{ user.id }}"><button>✕</button></a>
                    <a href="/admin/users/edit/{{ user.id }}"><button>✎</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}