{% extends 'base.html.twig' %}
{% block body %}
    <a href="/searches/new">
        <button class="btn btn-lg btn-primary btn-block">ADD SEARCH</button></a>
    <hr>
    <h1>Searches list:</h1>
    <table class="table table-hover table-responsive-xl">
        <thead>
        <tr>
            <th>id</th>
            <th>Keywords</th>
            <th>Group</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for search in searches %}
            <tr onclick="window.location='{{ path('search_show',{'id': search.id}) }}'">
                <td>{{ search.id }}</td>
                <td>{{ search.keyword }}</td>
                <td>{{ search.group.name }}</td>
                <td class="text-right">
                    <a href="{{ path('search_delete', {'id': search.id}) }}"><button class="btn btn-danger">✕</button></a>
                    <a href="{{ path('search_edit', {'id': search.id}) }}"><button class="btn btn-primary">✎</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}