{% extends 'base.html.twig' %}
{% block body %}
    <a href="/groups/new">
        <button class="btn btn-lg btn-primary btn-block">NEW GROUP</button></a>
    <hr>
    <h1>Groups list:</h1>
    <table class="table table-hover table-responsive-xl">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Searches</th>
            <th>Targets</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr onclick="window.location='{{ path('group_show',{'id': group.id}) }}'">
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.searches | length }}</td>
                <td>{{ group.targets | length }}</td>
                <td class="text-right">
                    <a href="{{ path('group_delete', {'id': group.id}) }}"><button class="btn btn-danger">✕</button></a>
                    <a href="{{ path('group_edit', {'id': group.id}) }}"><button class="btn btn-primary">✎</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}